:root {
  --panel-bg-color: #dfe4ea;
  --container-bg-color: #f1f2f6;
  --text-color: #2f3542;
}
:root[theme="dark"] {
  --panel-bg-color: #2f3542;
  --container-bg-color: #57606f;
  --text-color: #ced6e0;
}
* {
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: Verdana;
  color: var(--text-color);
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border-radius: 50%;
  width: 16px;
  height: 16px;

  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;

  position: relative;
  top: 4px;
}

input[type="radio"]:checked {
  border: 6px solid black;
}

.container {
  margin: 0px auto 20px;
  max-width: 900px;
  padding: 1rem;
  align-items: center;
  background: var(--container-bg-color);
}
button {
  margin: 10px;
  padding: 10px;
  font: 1em sans-serif;
  color: beige;
  background-color: #57606f;
}
button:hover {

  color: white;
  background-color: #2f3542;
}
footer {
  padding: 1rem;
  background: var(--panel-bg-color);
}
input[type="button"] {
  color: var(--text-color);
  background: var(--panel-bg-color);

  padding: 0.3rem;
  margin: 0.2rem;
  font-size: 1rem;
}
input[type="button"]:hover {
  color: #f1f2f6;
  background-color: #2f3542;
}
input[type="color"] {
  min-height: 50px;
  min-width: 50px;
}

input {
  cursor: pointer;
}